{% extends 'base/base.html' %}

{% block content %}
	<table class="table table-bordered">
	<thead>
		<tr>		
			<td>#</td>
			<td>Persona</td>
			<td>Mascota(s) a adoptar</td>
			<td>Motivo de adopción</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for request in object_list %}
		<tr>
			<td>{{ request.id }}</td>
			<td>{{ request.people }}</td>
			<td>
			<ul class="list-unstyled">{% for pet in request.idOfPets.all %}
				<li>
					<a href="#" >{{pet.name}}</a>
				</li>
				{% endfor %}
			</ul>
			</td>
			<td>{{ request.reasons }}</td>
			<td>
				<a class="btn btn-primary" href=" {% url 'request:requestUpdate' request.id %}" >Actualizar</a>
				<a class="btn btn-danger" href=" {%  url 'request:requestDelete' request.id %} ">Eliminar</a> 
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de solicitud de adopción</h1>
		{% endif %}
	</tbody>
</table> 
<!-- <ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul> -->
	
	
{% endblock %}