{% load staticfiles %}
<html >
  <head>
    
    <title>{% block title %} Refugio {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
  {% block navbar %}
    {% include 'base/header/header.html' %}
  {% endblock %}
  <div class="container">    
    {% block content %}
    <h4>  Bloque de contenido   </h4>
    {% endblock %}
  </div>
  {% block footer %}
  {% endblock%}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrasjs %} {% endblock%}
  </body>
</html>