{% extends 'base/base.html' %}

{% block content %}
	<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Sexo</td>
			<td>Edad</td>
			<td>Fecha de Rescate</td>
			<td>Vacunas</td>
			<td>Adoptante</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if pets %}
		{% for pet in pets %}
		<tr>
			<td>{{ pet.id }}</td>
			<td>{{ pet.name }}</td>
			<td>{{ pet.sex }}</td>
			<td>{{ pet.aproximatedAge }}</td>
			<td>{{ pet.rescueDate }}</td>
			<td>
			<ul class="list-unstyled">{% for vaccine in pet.vaccine.all %}
				<li>
					<a href="#" >{{vaccine.name}}</a>
				</li>
				{% endfor %}
			</ul>
    		</td>
			<td>{{ pet.people.name }} {{ pet.people.lastname }}</td>
			<td>
				 <a class="btn btn-primary" href=" {% url 'pet:petUpdate' pet.id %}" >Actualizar</a>
				<a class="btn btn-danger" href=" {% url 'pet:petDelete' pet.id %}">Eliminar</a> 
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de mascotas</h1>
		{% endif %}
	</tbody>
	
</table> 
<ul class="pager">
	<li>
		{% if pets.has_previous %}
            <a href="?page={{ pets.previous_page_number }}">previous</a>
        {% endif %}
    </li>
    <a href="?page={{ pets.paginator.num_pages }}">{{ pets.paginator.num_pages }}</a>
        
	<li>
		 {% if pets.has_next %}
            <a href="?page={{ pets.next_page_number }}">next</a>
        {% endif %}
    </li>
</ul> 
	
{% endblock %}